Repository iancha1992/bazel, pull requests merged in 2023-07, with the labels that each got.

#142 monday test
  README.md
Labels: team-CLI

#182 Automation test
  README.md
Labels: team-CLI, team-Rules-CPP

#185 Please ignore. Automation testing
  README.md
Labels: team-Android, team-CLI

#188 Please ignore - Automation testing
  README.md
Labels: awaiting-review, team-Android, team-CLI, team-Rules-CPP

#195 Please ignore - Automation testing
  README.md
Labels: awaiting-review, team-Android, team-CLI

#199 Please ignore [This is for automation testing]
  README.md
Labels: team-Android, team-CLI, team-Rules-CPP

#233 Please ignore. This is for Automation testing
  README.md
Labels: team-CLI
